<link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
<div class="container">
  <h1>GOOD QUOTES</h1>
  <hr>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngFor="let quote of quotes;let i = index" class="card" style="width: 24rem;">
        
          <div class="col-md-10">
            <div class="card-body">
          <h4 class="card-tittle" appStrikethrough *ngIf="highestUpvote()===quote.upvote && quote.upvote>0">{{quote.name}} </h4>
          <button (click)='readMore(i)' class="btn btn-success">Read More</button>
          <p>posted on {{quote.completeDate|date|uppercase}}</p>
        </div>

        <div *ngIf='quote.showDetail'>
          <app-quote-details  [quote]='quote' (isComplete) = 'deleteQuote($event,i)' ></app-quote-details>
        </div>
      </div>
    </div>
      </div>
      
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    
  </div>
</div>
</div>